* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 0;*/
}

body {
    background-image: url("../images/arcaneBG.jpg");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 40px;
}

h1 {
    font-size: 38px;
    text-align: center;
    color: goldenrod;
}

body {
    /*background: linear-gradient(lightgray, white);*/
}

/* test animation*/

/* ------------------------------------------------------------*/

#gamearea {
    width: 60%;
    text-align: center;
    background-color: rgb(114, 87, 19);
    margin-left: 3%;
}

#gamearea h1 {
    color: black;
    display: block;
    margin-top: 20%;
}

aside {
    background-color: lightgoldenrodyellow;
    margin-left: 10%;
}

.flip-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
}

/*-------------------------------info-jeu droite----------------------------------*/

div#wrapper {
    display: flex;
}

div#wrapper>aside:first-of-type {
    width: 20%;
    height: 500px;
    font-size: large;
    text-align: center;
    padding-top: 20px;
}